

body {
    font-family: 'Baloo Tamma 2','Manrope', cursive;
   
} 

::-webkit-scrollbar { width:8px; height: 10px; }  
::-webkit-scrollbar-track { background:rgb(10, 230, 219); }   
::-webkit-scrollbar-thumb { background: hsl(165, 86%, 47%); transition-duration: 0.8s; }

a:hover { color: hsl(174, 84%, 52%); }





nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#40E0D0,#48D1CC);
    padding: 20px; 
}


.sobre {
    width: 100%;
    padding: 50px;
    margin-top: 50px;
    position: relative;
  }
  .sobre p{
      font-size: 18px;
      margin-top: 60px;
  }
  .sobre h1{
      text-align: center;
  }
  
  


#contato {
    background-color: #40E0D0;
    color: #E0FFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0;
    align-items: justify;
}


#contato a {
    display: inline-block;
    text-decoration: none;
    padding: 0 6px; 
    width: 42%;    
    color: #fff; 
    line-height: .1;
    margin: 0;/*2vh;*/
    font-size: 1em;
    text-align: justify; 
}



#hobby2 {
    padding-top: 10px;
  
    
  }
  
  .hobb2 {
    margin-bottom: 25px;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 16px;
    
  }
  
  
  #hobby2 .img-responsive {
    width: 100%;
    text-align: center;
    
  }
    

#trabalhos{
	margin: auto;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 100px;
  
.footer .copyright p {
    color: #ddd;
    margin: 0;
    
  }
}
    @media screen and (min-width: 768px) {
    html { scroll-behavior: smooth;
    }
    
    #contato {
         
        flex-direction: row;
               
    }

}

